.container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(var(--green), var(--black));
  display: grid;
  place-items: center;
  animation: spinner 2s infinite linear;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.loader {
  height: 80px;
  width: 80px;
  background-color: #191414;
  border-radius: 50%;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
