.container {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  opacity: 0.7;
  font-weight: 600;
  font-size: 0.8rem;
  width: fit-content;
  cursor: pointer;
  &:hover {
    opacity: 1;
    transition: all 0.3s;
  }
}
.playlist {
  margin-bottom: 1rem;
}
.cover {
  height: 3rem;
  width: 3rem;
  border-radius: 0.2rem;
}
.name {
  color: var(--white);
  margin-bottom: 0.35rem;
  font-size: 1rem;
}
p {
      margin: 0;
  font-weight: normal;
  font-size: 0.8rem;
}
