.container {
  flex: 0.3;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 90vh;
  height: 90dvh;
  gap: 0.5rem;
}

@media only screen and (max-width: 700px) {
  .container {
    &[data-open='true'] {
      flex: 1;
      transition: all 0.3s;
    }
    &[data-open='false'] {
      flex: 0;
      transition: all 0.3s;
    }
  }
}
