.container {
  flex: 0.25;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
  height: 100vh;
  &[data-open='true'] {
    width: 10%;
    // transform: translateX(0);
  }
}
