.container {
  flex: 0.25;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
  height: 90vh;
  &[data-open='true'] {
    max-width: 5%;
    transition: all 0.3s;
  }
}
