.btn {
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  gap: 15px;
  line-height: 24px;
  white-space: nowrap;
  color: var(-white);
  background: none;
  padding: 0;
  &:disabled {
    cursor: not-allowed;
  }
}
.icon {
  > svg {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: currentColor;
    stroke: currentColor;
  }
}
.primary {
  padding: 12px;
  border-radius: 20px;
  background-color: var(--light-grey);
  opacity: 0.7;
  transition: all 0.3s;
  &:hover {
    opacity: 1;
    transition: all 0.3s;
  }
}
.secondary {
  opacity: 0.7;
  transition: all 0.3s;
  &:hover {
    opacity: 1;
    transition: all 0.3s;
  }
}
