.btn {
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  gap: 15px;
  line-height: 24px;
  white-space: nowrap;
  color: var(-white);
  background: none;
  padding: 0;
  &:disabled {
    cursor: not-allowed;
  }
  &:hover {
    color: var(--text-color-primary);
  }
}
.icon {
  > svg {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: currentColor;
    stroke: currentColor;
  }
}
