.form {
  width: 30%;
  input {
    opacity: 0.7;
    &:hover {
      width: 100%;
      opacity: 1;
    }
    &:focus {
      width: 100%;
      opacity: 1;
      background-color: #333;
      border: 1px solid #535353;
      outline: none;
    }
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 30px 20px 20px 30px;
}

@media only screen and (max-width: 700px) {
  .form {
    width: 50%;
  }
  .categories {
    overflow: hidden;
    overflow-x: scroll;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
