.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
  background-color: var(--grey);
  border-radius: 0.5rem;
}
a {
  width: fit-content;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  opacity: 0.7;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--grey);
  &:hover {
    opacity: 1;
    transition: all 0.3s;
  }
  &.active {
    opacity: 1;
    transition: all 0.3s;
  }
}
.link {
  margin: 0;
  height: 35px;
}
