.container {
  padding: 30px 20px 20px 30px;
}
.card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  .card_container {
    overflow: hidden;
    overflow-x: scroll;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
