.container {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}
.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
}
.playerbtn {
  display: flex;
  align-items: center;
}
.shuffle,
.previous,
.next,
.loop {
  height: 1rem;
  margin-right: 1rem;
  opacity: 0.8;
}
.play {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-right: 1rem;
}
.time {
  display: flex;
  align-items: center;
}
.slider_time {
  margin: 0 10px;
  width: 40vw;
}
.volume {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
.slider_volume {
  width: 100px;
  height: 4px;
}
.slider_time:hover,
.slider_volume:hover {
    background-color: #1bd760;
}
.slider_time,
.slider_volume {
  appearance: none;
}
.slider_time::-webkit-slider-runnable-track,
.slider_volume::-webkit-slider-runnable-track {
  height: 4px;
  background: #ddd;
  border: none;
  border-radius: 100px;
}
.slider_time::-webkit-slider-thumb,
.slider_volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #1bd760;
  margin-top: -6px;
}

.slider_time:focus,
.slider_volume:focus {
  outline: none;
}

.slider_time:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

