.container {
  height: 42px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.7;
  .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  &:hover {
    opacity: 1;
    cursor: pointer;
    .play {
      display: block;
    }
    .index {
      font-size: 0px;
    }
  }
  span,
  div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    img {
      width: 34px;
      height: 34px;
    }
  }
  .link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    margin: 0;
    text-decoration: none;
    opacity: 0.7;
    transition: all 0.3s;
    color: var(--white);
    background-color: var(--grey);
    &:hover {
      opacity: 1;
      transition: all 0.3s;
      text-decoration: underline;
    }
  }
  .index {
    position: relative;
    width: 20px;
  }
  .title {
    width: 68%;
    display: flex;
    gap: 15px;
    .info {
      display: flex;
      flex-direction: column;
    }
  }
  .album {
    width: 17%;
    text-decoration: none;
    opacity: 0.7;
    transition: all 0.3s;
    color: var(--white);
    background-color: var(--grey);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:hover {
      opacity: 1;
      transition: all 0.3s;
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 700px) {
  .album {
    display: none;
  }
}
