.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login {
  cursor: pointer;
  opacity: 0.7;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--light-grey);
  border-radius: 5rem;
  width: fit-content;
  font-weight: normal;
  color: var(--white);
  transition: all 0.3s;
  &:hover {
    opacity: 1;
    transition: all 0.3s;
    background-color: var(--green);
  }
}
