.container {
  margin-top: 25px;
  display: flex;
  width: 90%;
  padding: 30px 20px;
  flex-direction: column;
  h3 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
  }
}
.artist_info {
  display: flex;
  gap: 20px;
  .cover {
    width: 230px;
    height: 230px;
  }
  .text_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    .btn_container {
      height: 50px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 10px;
    }

    h1 {
      font-weight: 700;
      font-size: 2rem;
    }
    .followers {
      font-size: 0.875rem;
      color: var(--text-grey);
    }
  }
}
.top_tracks {
  margin-top: 88px;
  gap: 15px;
  width: 97%;
  display: flex;
  flex-direction: column;
}
.albums,
.artists {
  margin-top: 88px;
  gap: 15px;
  width: 97%;
  display: flex;
  flex-direction: column;
  & .items {
    display: flex;
    gap: 15px;
    overflow: hidden;
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    align-self: center;
  }
  .artist_info {
    flex-direction: column;
    align-items: center;
    .text_info {
      .btn_container {
        order: 2;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }
}
