@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --black: #000;
  --grey: #121212;
  --light-grey: #2e2e2c;
  --white: #fff;
  --green: #1ed760;
  --text-grey: #bebebd;
}

body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  background-color: var(--black);
  color: var(--white);
  hyphens: auto;
}
button {
  color: var(--white);
}
