@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --black: #000;
  --grey: #121212;
  --light-grey: #232323;
  --white: #fff;
}

body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: Gothic A1;
  background-color: var(--black);
  color: var(--white);
}
