.container {
  padding: 30px 20px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.header {
  display: flex;
  gap: 0.5rem;
  .login {
    cursor: pointer;
    opacity: 0.7;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
    background-color: var(--light-grey);
    border-radius: 5rem;
    width: fit-content;
    min-width: 60px;
    display: flex;
    justify-content: center;
    font-weight: normal;
    color: var(--white);
    &:hover {
      opacity: 1;
      transition: all 0.3s;
      background-color: var(--green);
    }
  }
  .active {
    opacity: 1;
    background-color: var(--green);
  }
}
.card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  .header {
    flex-wrap: wrap;
  }
}
